<!-- Modal -->
  <div class="modal-dialog">
    <form [formGroup]="registerForm">
      <div class="modal-content">
      <div class="modal-header">
        <h1  id="exampleModalLabel">Add Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Name" formControlName="name">
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="floatingInput" placeholder="Quantity" formControlName="quantity">
          <label for="floatingInput">Quantity</label>
        </div>

        <div class="form-floating  mb-3">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="categori">
            <option selected>Open this select menu</option>
            <option value="spicy">spicy </option>
            <option value="Dessert">Dessert</option>
            <option value="Other">Other</option>
          </select>
          <label for="floatingSelect">Works with selects</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="floatingInput" placeholder="Price" formControlName="Price">
          <label for="floatingInput">Price</label>
        </div>
        <div class="form-floating mb-3">
          <input type="file" class="form-control" id="floatingInput" placeholder="Picture" formControlName="file_name" (change)="onFileSelected($event)">
          <label for="floatingInput">Picture</label>
        </div>


      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="ajouterproduit()" >Save changes</button>
        <!-- (click)="ajouterproduit()" -->
      </div>
    </div>
  </form>
  </div>
