<div class="blocknavbar">
  <input
    type="submit"
    value="disconnect"
    name="disconnect"
    id="btndisconnect"
  />
  <input type="reset" value="disable" id="btndisable" />
</div>

<button type="button" class="modale"  (click)="openModal()" >
  Add Product
</button>
<div class="container">



  <div class="block">
      <div class="row" >
        <p>

        </p>
        <div class="col-3" *ngFor="let item of objprod">
          <div class="card" style="width: 13rem;" >
            <!-- imageDataUrls[item.id] -->
            <img [src]="imageDataUrls[item.id]" class="card-img-top" alt="..." width="250px" height="250px">

            <div class="card-body">
              <h5 class="card-title">Name:{{item.name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Quantity:{{item.quantity}}</li>
              <li class="list-group-item">Catégorie:{{item.categori}}</li>
            </ul>
            <div class="card-body">
              <a  class="card-link" href="/home/update/{{item.id}}"> <input type="submit" value="Update" class="updatebutton" data-bs-target="#UpdateProduct" data-bs-toggle="modal" (click)="idproduit(item.id)"></a>
              <a  class="card-link"> <input type="submit" value="Delete" class="Deletebutton" (click)="deleteP(item.id)"></a>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>



<!-- Button trigger modal -->











