<div class="blocknavbar">
  <input
    type="submit"
    value="disconnect"
    name="disconnect"
    id="btndisconnect"
  />
  <input type="reset" value="disable" id="btndisable" />
</div>

<button type="button" class="modale" data-bs-toggle="modal" data-bs-target="#exampleModal" >
  Add Product
</button>
<div class="container">



  <div class="block">
      <div class="row" >
        <p>

        </p>
        <div class="col-3" *ngFor="let item of objprod">
          <div class="card" style="width: 13rem;" >
            <!-- imageDataUrls[item.id] -->
            <img [src]="imageDataUrls[item.id]" class="card-img-top" alt="..." width="250px">

            <div class="card-body">
              <h5 class="card-title">Name:{{item.name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Quantity:{{item.quantity}}</li>
              <li class="list-group-item">Catégorie:{{item.categori}}</li>
            </ul>
            <div class="card-body">
              <a  class="card-link" > <input type="submit" value="Update" class="updatebutton" data-bs-target="#UpdateProduct" data-bs-toggle="modal" (click)="idproduit(item.id)"></a>
              <a href="#" class="card-link"> <input type="submit" value="Delete" class="Deletebutton"></a>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="registerForm">
      <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Name" formControlName="name">
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="floatingInput" placeholder="Quantity" formControlName="quantity">
          <label for="floatingInput">Quantity</label>
        </div>

        <div class="form-floating  mb-3">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="categori">
            <option selected>Open this select menu</option>
            <option value="spicy">spicy </option>
            <option value="Dessert">Dessert</option>
            <option value="Other">Other</option>
          </select>
          <label for="floatingSelect">Works with selects</label>
        </div>
        <div class="form-floating mb-3">
          <input type="file" class="form-control" id="floatingInput" placeholder="Picture" formControlName="file_name" (change)="onFileSelected($event)">
          <label for="floatingInput">Picture</label>
        </div>


      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  >Close</button>
        <button type="button" class="btn btn-primary" (click)="ajouterproduit()">Save changes</button>
      </div>
    </div>
  </form>
  </div>
</div>





<!-- Update Product Modal -->
<div class="modal fade" id="UpdateProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form [formGroup]="registerForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Name" formControlName="name" [ngModel]="produit.name">
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="floatingInput" placeholder="Quantity" formControlName="quantity" [ngModel]="produit.quantity">
          <label for="floatingInput">Quantity</label>
        </div>

        <div class="form-floating  mb-3">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="categori" [ngModel]="produit.categori">
            <option selected>Open this select menu</option>
            <option value="spicy">spicy </option>
            <option value="Dessert">Dessert</option>
            <option value="Other">Other</option>
          </select>
          <label for="floatingSelect">Works with selects</label>
        </div>
        <div class="form-floating mb-3">
          <input type="file" class="form-control" id="floatingInput" placeholder="Picture" formControlName="fileName" [ngModel]="produit.fileName" (change)="onFileSelected($event)">
          <label for="floatingInput">Picture</label>
        </div>

        <input type="text" formControlName="file_Name" [ngModel]="produit.fileName">


      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" (click)="updateproduit()" value="Save changes">
      </div>
    </div>
  </div>
</form>
</div>


